<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Class Information</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      table,
      th,
      td {
        border: 1px solid;
      }
    </style>
  </head>
  <body>
    <h1>Subject: {{ class_object.class_subject }}</h1>
    <h2>Teacher: {{ class_object.teacher }}</h2>
    <h2>Time: {{ class_object.class_time }}</h2>
    <h3>Students:</h3>
    <table>
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Has Completed the course?</th>
          <th>Course grade</th>
        </tr>
      </thead>
      <tbody>
        {% for ... %}
        <tr>
          ...
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
